<!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=ASUGDgN0Vq5gQB00y1ivnVLYHPnySGTtql26GK6iihRT1cxYym-lbVguuYgP6b3q-nIT3akKItk2ogJs"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: async () => {
  const response = await fetch('/create_order', {method: 'POST'});
  const responseData = await response.json();
  return responseData.token;
},

            // Finalize the transaction
            onApprove: async (data) => {
  const response = await fetch('/capture_order', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({order_id: data.orderID})
  });
  const responseData = await response.json();
  if (responseData.status === 'COMPLETED') {
    alert('COMPLETED');
    // REDIRECT TO SUCCESS PAGE
  }
}


        }).render('#paypal-button-container');
    </script>






<%# <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: async () => {
            const response = await fetch('/create_order', {method: 'POST'});
            const responseData = await response.json();
            return responseData.token;
            },

            // Finalize the transaction
            onApprove: async (data) => {
                const response = await fetch('/capture_order', {
                method: 'POST',
                headers: {
                 'Content-Type': 'application/json'
                },
                body: JSON.stringify({order_id: data.orderID})
                });
                const responseData = await response.json();
                if (responseData.status === 'COMPLETED') {
                alert('COMPLETED');
                // REDIRECT TO SUCCESS PAGE
                 }
            }


        }).render('#paypal-button-container');
    </script> %>




<%# 

<div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=GE32UE4A9RAHA"></script>
<script>
    paypal.Buttons({
    env: 'sandbox', // Valid values are sandbox and live.
    createOrder: async () => {
        const response = await fetch('/create_order', {method: 'POST'});
        const responseData = await response.json();
        return responseData.token;},
    onApprove: async (data) => {
    const response = await fetch('/capture_order', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({order_id: data.orderID})
  });
  const responseData = await response.json();
  if (responseData.status === 'COMPLETED') {
    alert('COMPLETED');
    // REDIRECT TO SUCCESS PAGE
  }
    }
  }).render('#paypal-button-container');
</script> %>





